/* purgecss start ignore */
@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none; 
}


/* purgecss end ignore */
@tailwind utilities;

